#detail {
    //background-color: aqua;

    .card1 {
        // background-color: red;
        border: none;
    }

    .card2 {
        border: none;
    }

    .count {
        //background-color: green;
        border: none;
    }

    .table {
        //background-color: yellow;
        border: none;
    }

    .close {
        align-self: end;
    }

    button {
        border: none;
        background: none;
    }
}