#search {
    height: 50px;
    margin-top: 20px;


    span {
        width: 80px;
    }

    input {
        width: 300px;

    }

    .search {
        color: black;
        height: 30px;
        border-radius: 5px;
        border: 1px solid rgb(0, 0, 0, 0.5);

        &:hover {
            border: 1px solid rgba(255, 0, 0, 0.3);

        }
    }

}